@import "tailwindcss";

@font-face {
  font-family: 'juwelia';
  src: url('./assets/fonts/Gronsmarune.otf') format('opentype');
  font-weight: 400; /* normal vikt */
  font-style: normal;
  font-display: swap; /* snabbare render */
}
@font-face {
  font-family: 'tropical';
  src: url('./assets/fonts/tropicalavenue.otf') format('opentype');
  font-weight: 400; /* normal vikt */
  font-style: normal;
  font-display: swap; /* snabbare render */
}

@theme {
  --font-tropical: "tropical", sans-serif;
  --font-sans: "Open Sans", sans-serif;
  --font-juwelia: "juwelia", sans-serif;


  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1280px;

  --color-warmWhite: rgb(251, 245, 236);
  --color-beige: rgb(228, 221, 211);
  --color-lightBrown: rgb(148, 95, 65);
  --color-brown: rgb(121, 60, 41);
  --color-darkBrown: rgb(91, 44, 36);
  --color-darkRed: rgb(93,33,33);
  --color-brownBlack: rgb(54, 19, 13);
  --color-mediumGreen: rgb(79, 101, 63);

  --animate-fadeIn: fadeIn 1s ease-in both;
  --animate-longFadeIn: fadeIn 2.3s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: var(--font-sans);
}

.oe-pair {
  display: inline-block;
  margin-right: 0.03em; /* lite extra luft efter oe */
}

.oe-o {
  letter-spacing: -0.12em; /* drar e närmare o */
}

.oe-e {
  letter-spacing: 0; /* kan lämnas tom */
}

:root {
  background-color: var(--color-beige);
}